## Experiment 1

In [2]:
x = int(input("Enter the value of x: "))   
y = int(input("Enter the value of y: ")) 
print("x & y =", x & y)
print("x |y =", x | y)
print("x ^ y= ", x^y)

Enter the value of x:  5
Enter the value of y:  6

x & y = 4
x |y = 7
x ^ y=  3

In [4]:
Sum=0
print('Numbers from 1 to 20 which are not divisible by 2, 3, 5')
for i in range (1,20):
	if i%2==0 or i%3==0 or i%5==0:
		print(" ")
	else:
		print(i)
		Sum=Sum+i
print('Sum of numbers from 1 to 20 which are not divisible by 2,3,5 =',Sum)

Numbers from 1 to 20 which are not divisible by 2, 3, 5
1





7



11

13



17

19
Sum of numbers from 1 to 20 which are not divisible by 2,3,5 = 68

In [6]:
def maximum(a, b):
	
	if a >= b:
		return a
	else:
		return b
maximum(4,5)

5

In [7]:
String = 'KRISHNA'
s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)

print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("Original List:\n", List)
print("\nSliced Lists: ")
print(List[3:9:2])
print(List[::2])
print(List[::])

String slicing
KRI
RS
AHIK
Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]